@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url('/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('/fonts/Gilroy-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-SemiBold'),
        url('/fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('/fonts/Gilroy-Semibold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Bold'), url('/fonts/Gilroy-Bold.woff2') format('woff2'),
        url('/fonts/Gilroy-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

html,
body {
    overscroll-behavior: none;
    font-family: 'Gilroy', sans-serif;
    color: var(--typo);
}

#root {
    height: 100%;
}
