@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../../public/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../../public/fonts/Montserrat-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-SemiBold'),
        url('../../public/fonts/Montserrat-Semibold.woff2') format('woff2'),
        url('../../public/fonts/Montserrat-Semibold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Bold'), url('../../public/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../../public/fonts/Montserrat-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

html,
body {
    overscroll-behavior: none;
    font-family: 'Montserrat', sans-serif;
}